<div class="navbar">
    <div class="nav_img">
        <a href="#"><img src="../../assets/logo/default-fotor-bg-remover-2023042091715.png"></a>
    </div>
    <div class="nav_links">
        <ul class="container_link">
            <li><a class="home-link" href="/">Home</a></li>
            <li><a class="about-link" routerLink="/about">About</a></li>
            <li><a class="model-link" href="/carmodel">Model</a></li>
            <li><a class="testimonial-link" href="/testimonial">Testimonial</a></li>
            <li><a class="contact-link" href="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="nav_buttons">
        <a class="navbar__buttons__sign-in" href="/">Sign In</a>
        <a class="navbar__buttons__register" href="/">Register</a>
    </div>
   
</div>