<div class="plan-section">
    <div class="plan-container">
        <div class="plan-container-title">
            <h3>Plan your trip now</h3>
            <h2>Quick &amp; easy car rental</h2>
        </div>
        <div class="plan-container-box">
            <div class="plan-container-singlebox">
                <img src="../../assets/logo/plan-section-car.png" alt="icon_img">
                <h3>Select Car</h3>
                <p>We offers a big range of vehicles for all your driving needs. We have the perfect car to meet your needs</p>
            </div>
            <div class="plan-container-singlebox">
                <img src="../../assets/logo/plan-section-cutomersupport.png" alt="icon_img">
                <h3>Contact Operator</h3>
                <p>Our knowledgeable and friendly operators are always ready to help with any questions or concerns</p>
            </div>
            <div class="plan-container-singlebox">
                <img src="../../assets/logo/plan-section-carsupport.png" alt="icon_img">
                <h3>Let's Drive</h3>
                <p>Whether you're hitting the open road, we've got you covered with our wide range of cars</p>
            </div>
        </div>
    </div>
</div>