<body>
    <app-navbar></app-navbar>
    <div class="about-page">
        <div class="about-des">
            <div class="about-des-1">
                <div class="container">
                    <div class="about-title">
                        <h3>Testimonials</h3>
                        <p><a href="/">Home</a> / Testimonials</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-testimonials></app-testimonials>
    <app-bookbanner></app-bookbanner>
    <app-footer></app-footer>
</body>