
body {
    margin: 0;
    .about-page {
        .about-des {
            background-image: url(../../../assets/logo/heroes-bg.png);
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            height: 35rem;
            position: relative;
            width: 100%;
            .about-des-1 {
                background-color: hsla(0,0%,100%,.92);
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                .container{
                    margin: 0 auto!important;
                    max-width: 133rem!important;
                    padding: 0 2.5rem!important;
                    .about-title {
                        color: #010103;
                        display: flex;
                        flex-direction: column;
                        height: 35rem;
                        justify-content: center;
                        position: relative;
                        width: 100%;
                        z-index: 3;
                        font-weight: 600;
                        h3 {
                            font-size: 3rem;
                            margin-bottom: 0.5rem;
                            font-family: 'Poppins', sans-serif;
                        }
                        p{
                            font-size: 1.2rem;
                            font-weight: 600;
                            font-family: 'Poppins', sans-serif;
                            a {
                                color: #010103;
                                text-decoration: none;
                                transition: all .2s;
                                font-family: 'Poppins', sans-serif;
                            }
                        }
                    }
                }
            }
    
        }
    }
    .about-company {
        .about-main {
            margin: 0 auto!important;
            max-width: 133rem!important;
            padding: 0 2.5rem!important;
            .about-main-text {
                margin: 8rem;
                display: flex;
                align-items: center;
                max-width: 90rem;
                flex-direction: column;
                h3 {
                    font-family: Rubik,sans-serif;
                    font-size: 2.4rem;
                    font-weight: 500;
                    margin-bottom: 1rem;
                }
                h2 {
                    font-size: 4.2rem;
                    line-height: 1.2;
                    text-align: center;
                    font-family: Rubik, sans-serif;
                }
                p {
                    color: #706f7b;
                    font-family: Rubik,sans-serif;
                    font-size: 1.4rem;
                    line-height: 1.5;
                    margin-bottom: 4rem;
                    margin-top: 2rem;
                    text-align: center;
                }
                .about-main-icon-section {
                    display: grid;
                    gap: 12rem;
                    grid-gap: 12rem;
                    grid-template-columns: 1fr 1fr 1fr;
                    .about-main-icon-section-1 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        img {
                            width: 6.3rem;
                        }
                    }
                    .about-main-icon-section-2 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        img {
                            width: 5.6rem;
                        }
                    }
                    .about-main-icon-section-3 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        img {
                            width: 4.2rem;
                        }
                    }
                    span {
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                    }
                    h4 {
                        font-size: 4rem;
                        font-family: Rubik, sans-serif;
                        margin: 12px 0px;
                        font-weight: 500;
                    }
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}