<div class="faq-section">
    <div class="faq-container">
        <div class="faq-content">
            <div class="faq-title">
                <h5>FAQ</h5>
                <h2>Frequently Asked Questions</h2>
                <p>Frequently Asked Questions About the Car Rental Booking Process on Our Website: Answers to Common Concerns and Inquiries.</p>
            </div>
            <div class="faq-all-questions">
                <div class="faq-box">
                    <div id="q1" class="faq-box-question" (click)="myFunction('q1','a1')">
                        <p>1. What is special about comparing rental car deals?</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div id="a1" class="faq-box-answer" (click)="myFunction('q1','a1')">
                        Comparing rental car deals is important as it helps find the best deal that fits your budget and 
                        requirements, ensuring you get the most value for your money. By comparing various options, you can find deals that offer lower prices, additional services, or better car models. You can find car rental deals by researching online and comparing prices from different rental companies.
                    </div>
                </div>
                <div class="faq-box">
                    <div id="q2" class="faq-box-question" (click)="myFunction('q2','a2')">
                        <p>2. How do I find the car rental deals?</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div id="a2" class="faq-box-answer" (click)="myFunction('q2','a2')">
                        You can find car rental deals by researching online and comparing prices from different rental companies. Websites such as Expedia, Kayak, and Travelocity allow you to compare prices and view available rental options. It is also recommended to sign up for email newsletters and follow rental car companies on social media to be informed of any special deals or promotions.
                    </div>
                </div>
                <div class="faq-box">
                    <div id="q3" class="faq-box-question" (click)="myFunction('q3','a3')">
                        <p>3. How do I find such low rental car prices?</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div id="a3" class="faq-box-answer" (click)="myFunction('q3','a3')">
                        Book in advance: Booking your rental car ahead of time can often result in lower prices. Compare prices from multiple companies: Use websites like Kayak, Expedia, or Travelocity to compare prices from multiple rental car companies. Look for discount codes and coupons: Search for discount codes and coupons that you can use to lower the rental price. Renting from an off-airport location can sometimes result in lower prices.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
