<div class="container">
    <img class="bg-shape" src="../../assets/logo/homepagecarbackground.png" alt="bg-shape">
    <div class="car-container">
        <div class="textbox-container">
            <h4>Plan your trip now</h4>
            <h1>Save <span>Big</span> with our rental service</h1>
            <p>Rent the car of your dreams. Unbeatable prices, unlimited miles, flexible pick-up options and much more.</p>
            <div class="buttons-container">
                <a class="buttons_book-ride" href="/">Book Ride
                    <fa-icon [icon]="faCircleCheck"></fa-icon>

                </a>
                <a class="buttons_learn-more" href="/">Learn More
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                </a>
            </div>
        </div>
        <img class="bg-carimg" src="../../assets/logo/png-transparent-2013-honda-civic-compact-car-2016-honda-civic-orange-car-compact-car-sedan-car-fotor-bg-remover-2023042093143.png" alt="bg-carimg">
    </div>
</div>