<div class="testimonials-section">
    <div class="testimonial-container">
        <div class="testimonial-content">
            <div class="testimonial-title">
                <h4>Reviewed by People</h4>
                <h2>Client's Testimonials</h2>
                <p>Discover the positive impact we've made on the our clients by reading through their testimonials. Our clients have experienced our service and results, and they're eager to share their positive experiences with you.</p>
            </div>
            <div class="testimonial-all">
                <div class="testimonial-box1">
                    <span class="quotes-icon">
                        <i class="fa-solid fa-quote-right"></i>
                    </span>
                    <p>"We rented a car from this website and had an amazing experience! The booking was easy and the rental rates were very affordable. "</p>
                    <div class="all-testimonials__box__name">
                        <div class="all-testimonials__box__name__profile">
                            <img src="../../assets/logo/harry.jpg" alt="user_img">
                            <span>
                                <h4>Parry Hotter</h4>
                                <p>Belgrade</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-box1">
                    <span class="quotes-icon">
                        <i class="fa-solid fa-quote-right"></i>
                    </span>
                    <p>"We rented a car from this website and had an amazing experience! The booking was easy and the rental rates were very affordable. "</p>
                    <div class="all-testimonials__box__name">
                        <div class="all-testimonials__box__name__profile">
                            <img src="../../assets/logo/ron.jpg" alt="user_img">
                            <span>
                                <h4>Ron Wizly</h4>
                                <p>Amstradem</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>