
    <header class="header">
        <app-navbar></app-navbar>
    </header>
    <main>
        <app-carcontainer></app-carcontainer>
        <app-bookingsection></app-bookingsection>
        <app-plansection></app-plansection>
        <app-fixedscroll></app-fixedscroll>
        <app-picksection></app-picksection>
        <app-testimonials></app-testimonials>
        <app-bannersection></app-bannersection>
        <app-faq></app-faq>
    </main>
    <footer>
        <app-footer></app-footer>
    </footer>